/*
 * Search.module.scss
 * Author: evan kirkiles
 * Created On Tue Sep 05 2023
 * 2023 Design at Yale 
 */
@import '@/styles/utils';

@keyframes fade-down {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.container {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 1em;
  animation: fade-down 0.3s ease-in-out;
}

.button {
  aspect-ratio: 1;
  height: 100%;
  padding: 0.5em;
  border: 1px solid theme-color('border2');
  border-radius: 3px;
  color: theme-color('content');
  font-size: 0.85em;

  &:hover {
    background-color: theme-color('background2');
  }

  & svg {
    stroke: currentColor;
  }
}

.form {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  white-space: nowrap;
}

.input {
  flex: 1;
  min-width: 20vw;
  padding: 0.4em;
  border-bottom: 1px solid theme-color('border2');
  border-radius: 0;

  &:focus {
    outline: none;
  }
}
