/*
 * _reset.scss
 * Author: evan kirkiles
 * Created On Sun Aug 27 2023
 * 2023 Design at Yale 
 *
 * Reset styles to nullify per-platform User-Agent stylings on HTML
 * elements. These make all elements function almost essentially as divs.
 */

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

address {
  font-style: normal;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
main,
section,
dialog,
li {
  display: block;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

a,
button {
  color: inherit;
  -webkit-transition: 0;
  -o-transition: 0;
  transition: 0;
}

button {
  -webkit-font-smoothing: inherit;
  appearance: none;
  padding: 0;
  overflow: visible;
  border: none;
  background: none;
  font: inherit;
  letter-spacing: inherit;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

::-moz-focus-inner {
  padding: 0;
  border: 0;
}

// :focus {
//   outline: 0;
// }

img {
  max-width: 100%;
  height: auto;
}

input,
label,
select,
button,
textarea {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;

  /* Browsers have different default form fonts */
  font-size: inherit;
  line-height: 1;
  font-family: Arial;
  vertical-align: middle;
  white-space: normal;
}

/* Remove the stupid outer glow in Webkit JKKKKK */
// input:focus,
// button:focus {
//   outline: 0;
// }

/* Box Sizing Reset
-----------------------------------------------*/

/* All of our custom controls should be what we expect them to be */
input,
textarea {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* These elements are usually rendered a certain way by the browser */
button,
input[type='reset'],
input[type='button'],
input[type='submit'],
input[type='checkbox'],
input[type='radio'],
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
  width: 0;
  background: transparent;
}

/* table reset */

table,
thead,
tbody,
tfoot,
tr,
th,
td {
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
  display: block;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
  border-color: inherit;
  border-collapse: inherit;
  border-spacing: 0;
  font-weight: inherit;
  text-align: left;
}

th,
td {
  display: inline;
}

input[type='search'] {
  -webkit-appearance: none;
  appearance: none;
}
