/*
 * SanityImage.module.scss
 * author: evan kirkiles
 * created on Tue Aug 15 2023
 * 2023 Design at Yale 
 */

.container {
  width: 100%;
  height: auto;
  min-height: 0;
  overflow: visible;
}

.image {
  width: 100%;
  height: auto;
}
