/*
 * Copy.module.scss
 * Author: evan kirkiles
 * Created On Fri Sep 01 2023
 * 2023 Design at Yale 
 */
@import '@/styles/utils';

.container {
  margin-top: 0.5em;
  widows: 3;
}

.column_2 {
  @include media('sm') {
    columns: 2;
  }
}

.column_3 {
  columns: 2;
}
