/*
 * Root.module.scss
 * Author: evan kirkiles
 * Created On Wed Aug 30 2023
 * 2023 Design at Yale 
 */

@import '@/styles/utils';

.container {
  display: grid;

  grid-template:
    'cta' calc(100svh - var(--header-height))
    't1' auto
    't2' auto / 1fr;
  width: 100%;
  min-height: calc(100svh - (2 * var(--header-height)));
  padding: 0 calc(var(--page-padding) * 1.5);
  gap: 1em;

  @include media('xs') {
    grid-template:
      'cta . .' 1fr
      'cta . t1' auto
      'cta . t2' auto
      / auto 1fr auto;
  }

  @include media('xl') {
    grid-template: 'cta . t1 t2' 1fr / auto 1fr auto auto;
  }

  & a {
    display: inline-block;
    text-decoration-thickness: 0.5px;
    text-underline-offset: 0.2em;
    &:hover {
      text-decoration: underline;
    }
  }

  :global(body.full-bleed) & {
    text-shadow: 0 0px 4px rgba(0, 0, 0, 1);
  }

  & > section > * {
    z-index: 1;
  }
}

.under_construction {
  position: absolute;
  top: calc(var(--header-height) + 0.2em);
  left: 50%;
  transform: translateX(-50%);
  font-family: monospace;
  text-align: center;
  opacity: 0.7;
}

@keyframes fade-up {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.cta {
  display: flex;
  grid-area: cta;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 21em;
  margin-bottom: var(--page-padding);
  // text-align: center;
  animation: fade-up 0.5s ease-in-out;

  @include media('xs') {
    margin-bottom: 0;
  }

  &_logo {
    z-index: 0;
    position: relative;
    width: 12em;
    height: auto;
    margin-top: max(10vh, 170px);

    :global(body.full-bleed) & {
      filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.5));
    }

    @include media('xxs') {
      width: 14em;
    }

    & svg {
      width: 100%;
      height: auto;
      // filter: drop-shadow(0 0 5px theme-color('content2'));
    }

    &:before {
      z-index: -1;
      position: absolute;
      top: 50%;
      left: 50%;
      aspect-ratio: 1;
      width: 150%;
      transform: translate(-50%, -50%);
      border: 1px solid theme-color('border2');
      border-radius: 50%;
      content: '';
      clip-path: polygon(100% 0, 100% 75%, 50% 50%, 0 0, 0 0);
    }
  }

  & h1 {
    margin: 0;
    padding: 0.5rem 0;
  }
}

.text {
  display: flex;
  grid-area: txt;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.t1 {
  z-index: 1;
  grid-area: t1;

  & h2 {
    margin-bottom: 0.2em;
    font-size: 1.5em;
  }

  @include media('md') {
    align-self: flex-end;
    max-width: 16em;
  }
}

.t2 {
  z-index: 1;
  grid-area: t2;

  & h2 {
    margin-bottom: 0.2em;
    font-size: 1.5em;
  }

  @include media('md') {
    align-self: flex-end;
    justify-self: flex-end;
    max-width: 16em;
  }
}
