/*
 * SearchBox.module.scss
 * Author: evan kirkiles
 * Created On Tue Sep 05 2023
 * 2023 Design at Yale 
 */

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  white-space: nowrap;

  &:first-of-type {
    flex: 1;
  }

  & input[type='search'] {
    flex: 1;
    padding: 0.2em;
    border-bottom: 1px solid theme-color('border2');

    &:focus {
      outline: none;
    }
  }

  & legend {
    visibility: none;
    position: absolute;
    top: 0;
    left: -50000px;
  }
}
