/*
 * Showcase.module.scss
 * Author: evan kirkiles
 * Created On Wed Sep 06 2023
 * 2023 Design at Yale 
 */
@import '@/styles/utils';

.container {
  display: grid;
  grid-template:
    'copy' auto
    'contents' auto / 1fr;
  width: 100%;
  margin: 1em 0;

  @include media('sm') {
    grid-template:
      'copy contents' 1fr
      'backtotop contents' auto / auto 1fr;
  }
}

.copy {
  grid-area: copy;
  margin-bottom: 1em;

  @include media('sm') {
    max-width: 24ch;
    margin-right: 1em;
    margin-bottom: 0;
  }

  &_inner {
    display: flex;
    position: sticky;
    top: calc(var(--header-height) + 1em);
    flex-direction: column;
    width: 100%;
    max-height: calc(100vh - var(--header-height) - 1em);
  }
}

.backtotop {
  display: none;
  position: sticky;
  bottom: 0;
  padding: 0.5em 0 1em;
  background-color: theme-color('background');
  text-align: left;

  &:hover {
    color: theme-color('content2');
  }

  @include media('sm') {
    display: block;
  }
}

.assets {
  display: flex;
  grid-area: contents;
  flex-direction: column;
  gap: 1em;
}

@keyframes fade-up {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.project {
  display: grid;
  grid-template:
    'picture picture' 1fr
    'title tags' auto
    'website dates' auto / 1fr 1fr;
  width: 100%;
  gap: 0.2em;
  animation: fade-up 0.3s ease-in-out;
  animation-delay: 4 * 150ms;
  animation-fill-mode: backwards;
  scroll-padding-top: calc(-1 * var(--header-height));

  @for $i from 0 through 4 {
    &:nth-child(#{$i}) {
      animation-delay: $i * 150ms;
    }
  }

  &_image {
    grid-area: picture;
    width: 100%;
    height: auto;
    margin-bottom: 0.5em;
    border: 1px solid theme-color('border2');
  }

  &_tags {
    display: flex;
    grid-area: tags;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    gap: 0.3em;

    & li {
      white-space: nowrap;
    }
  }

  &_title {
    grid-area: title;
  }

  &_website {
    grid-area: website;
  }

  &_dates {
    grid-area: dates;
    text-align: right;
  }

  & a {
    color: theme-color('content2');
    text-decoration: underline;
    text-underline-offset: 0.2em;
    overflow-wrap: break-word;

    &:hover {
      color: theme-color('content');
    }
  }
}

.legend {
  margin-top: 1em;
  padding: 0.5em 0;
  border-top: 1px solid theme-color('border2');

  @include media('sm-down') {
    display: flex;
    column-gap: 0.5em;
    flex-direction: row;
    flex-wrap: wrap;
  }

  & li {
    display: flex;
    flex-direction: row;
    margin-block: 0.25em;

    & button {
      text-align: left;
    }
  }

  & li::before {
    margin-right: 0.5em;
    content: '->';
  }

  & button {
    &:hover {
      color: theme-color('content2');
    }
  }
}
