/*
 * TabledHits.module.scss
 * Author: evan kirkiles
 * Created On Tue Sep 05 2023
 * 2023 Design at Yale 
 */
@import '@/styles/utils';

@keyframes fade-up {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.table {
  width: 100%;
  animation: fade-up 0.3s ease-in-out;

  thead {
    display: table-header-group;
    width: 100%;
  }
  tbody {
    display: table-row-group;
    width: 100%;
  }
  tr {
    display: table-row;
    width: 100%;
  }
  th,
  td {
    display: table-cell;
    flex-shrink: 0;
    max-width: 10em;

    &:nth-of-type(2) {
      width: 100%;
    }

    & ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0.5em;
    }
  }

  td[data-column-id='name'] {
    grid-area: name;
    min-width: 15ch;
    white-space: nowrap;
  }

  td[data-column-id='specialties'] {
    grid-area: tags;
  }

  td[data-column-id='class_year'] {
    grid-area: year;
    &::before {
      content: "'";
    }
  }

  td[data-column-id='contact'] {
    grid-area: contact;
  }

  @include media('xs-down') {
    tbody,
    thead,
    th,
    td {
      display: block;
      width: 100%;
      min-width: unset;
      max-width: unset;
      min-height: unset;
      border: unset;
    }

    thead {
      display: none;
    }

    tbody {
      padding-top: 0.5em;
    }

    tr {
      display: grid;
      grid-template:
        'name year . contact' auto
        'tags tags tags tags' auto / auto auto 1fr auto;
      padding: 0.5em 0;
      border-bottom: 1px solid theme-color('border2');
    }

    td {
      padding: 0.3em;
    }

    td[data-column-id='name'] {
      min-width: unset;
      font-weight: 700;
    }

    thead > tr {
      border-bottom: 1px solid theme-color('border');
    }
  }
}

.th {
  padding: 0.5em 1em;
  border-bottom: 1px solid theme-color('content2');
}

.td {
  min-height: 2em;
  padding: 0.5em 1em;
  border-bottom: 1px dashed theme-color('border2');
}
