/*
 * globals.scss
 * Author: evan kirkiles
 * Created On Sun Aug 27 2023
 * 2023 Design at Yale 
 *
 * There are several useful variables defined at the :root level, feel free to
 * modify or remove as necessary for your own use cases.
 */

@import '@/styles/utils';
@import '@/styles/globals';

:root {
  // a color to indicate selected / focused elements
  --highlight-color: #{theme-color('red')};

  // header-height for calculating sticky offsets
  --header-height: 3em;

  // a standard padding to use across the page
  --page-padding: 1rem;
  @include media('md') {
    --page-padding: 2rem;
  }

  // a maximum width to use for main page content
  --max-main-width: 1770px;
}

/* -------------------------------------------------------------------------- */
/*                                   Globals                                  */
/* -------------------------------------------------------------------------- */

html,
body {
  width: 100%;
  background-color: theme-color('background');
  color: theme-color('content');
  line-height: 1.2;

  // "debug" mode
  // & *:not(g, path) {
  //   outline: 1px solid theme-color('red');
  // }
}

p,
li {
  margin: 0.5em 0;
  line-height: 1.3;
}

h1 {
  margin: 0.5rem 0;
  font-size: 1.5em;

  @include media('xxs') {
    font-size: 2em;
  }
}

::selection {
  background-color: var(--highlight-color);
  color: theme-color('content');
}

:focus {
  outline: 3px solid var(--highlight-color);
}
