/*
 * Layout.module.scss
 * Author: evan kirkiles
 * Created On Sun Aug 27 2023
 * 2023 Design at Yale 
 */
@import '@/styles/utils';

.body {
  display: grid;
  grid-template:
    'nav' auto
    'main' auto
    'footer' auto / 1fr;
  width: 100%;

  & > nav,
  & > main,
  & > footer {
    width: calc(100%);
    max-width: var(--max-main-width);
    margin: 0 auto;
  }

  & > nav {
    grid-area: nav;
  }

  & > main {
    grid-area: main;
    min-height: calc(100vh - (2 * var(--header-height)));
    min-height: calc(100svh - (2 * var(--header-height)));
  }

  & > footer {
    grid-area: footer;
  }
}
