/*
 * Gallery.module.scss
 * Author: evan kirkiles
 * Created On Sat Sep 02 2023
 * 2023 Design at Yale 
 */
@import '@/styles/utils';

.container {
  display: grid;
  grid-template:
    'copy' auto
    'contents' auto / 1fr;
  width: 100%;
  margin: 1em 0;

  @include media('sm') {
    grid-template: 'copy contents' auto / minmax(auto, 24ch) 1fr;
    gap: 1em;
  }
}

.temp_class {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6em 0;

  & h3 {
    display: block;
    margin-bottom: -0.2em;
    font-weight: 700;
    font-size: 1.5em;
  }
}

.copy {
  grid-area: copy;
  margin-bottom: 1em;
}

@keyframes fade-up {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.assets {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
  grid-area: contents;
  gap: 1em;

  & > * {
    animation: fade-up 0.3s ease-in-out;
    animation-delay: 4 * 100ms;
    animation-fill-mode: backwards;

    @for $i from 0 through 4 {
      &:nth-child(#{$i}) {
        animation-delay: $i * 100ms;
      }
    }
  }
}

/* ------------------------------- Components ------------------------------- */

.member {
  width: 100%;
  max-width: 20em;

  &_image {
    aspect-ratio: 1;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  & a {
    color: theme-color('content2');
    text-decoration: underline;
    text-underline-offset: 0.2em;
    overflow-wrap: break-word;

    &:hover {
      color: theme-color('content');
    }
  }
}
