/*
 * Footer.module.scss
 * Author: evan kirkiles
 * Created On Tue Aug 29 2023
 * 2023 Design at Yale 
 */
@import '@/styles/utils';

.container {
  display: flex;
  flex-direction: column;
}

.crop_lines {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--header-height);
  padding: 0 calc(var(--page-padding) * 0.5);

  & svg {
    aspect-ratio: 1;
    height: 40%;
    color: theme-color('border');
  }

  &::before {
    width: 1.25em;
    height: 1.25em;
    transform: scaleY(-1);
    background-color: theme-color('border');
    content: '';
    mask: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjYiIGhlaWdodD0iMjUiIHZpZXdCb3g9IjAgMCAyNiAyNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGxpbmUgeDE9IjI0Ljk0NDMiIHkxPSIyLjE4NTU3ZS0wOCIgeDI9IjI0Ljk0NDMiIHkyPSIxNi42NjY3IiBzdHJva2U9IiM0NzQ3NDciLz4KPGxpbmUgeTE9IjI0LjUiIHgyPSIxNi42NjY3IiB5Mj0iMjQuNSIgc3Ryb2tlPSIjNDc0NzQ3Ii8+Cjwvc3ZnPgo=');
    mask-size: 100% 100%;
  }

  &::after {
    width: 1.25em;
    height: 1.25em;
    transform: scale(-1);
    background-color: theme-color('border');
    content: '';
    mask: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjYiIGhlaWdodD0iMjUiIHZpZXdCb3g9IjAgMCAyNiAyNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGxpbmUgeDE9IjI0Ljk0NDMiIHkxPSIyLjE4NTU3ZS0wOCIgeDI9IjI0Ljk0NDMiIHkyPSIxNi42NjY3IiBzdHJva2U9IiM0NzQ3NDciLz4KPGxpbmUgeTE9IjI0LjUiIHgyPSIxNi42NjY3IiB5Mj0iMjQuNSIgc3Ryb2tlPSIjNDc0NzQ3Ii8+Cjwvc3ZnPgo=');
    mask-size: 100% 100%;
  }
}
