/*
 * Table.module.scss
 * Author: evan kirkiles
 * Created On Mon Sep 04 2023
 * 2023 Design at Yale 
 */
@import '@/styles/utils';

.container {
  width: 100%;
}

@keyframes fade-up {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.table {
  width: 100%;
  animation: fade-up 0.3s ease-in-out;
  // border-collapse: collapse;

  thead {
    display: table-header-group;
    width: 100%;
  }
  tbody {
    display: table-row-group;
    width: 100%;
  }
  tr {
    display: table-row;
    width: 100%;
  }
  th,
  td {
    display: table-cell;
    min-width: 10em;

    &:nth-of-type(2) {
      width: 100%;
    }

    & ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0.5em;
    }
  }

  @include media('xs-down') {
    tbody,
    thead,
    th,
    td {
      display: block;
      width: 100%;
      min-height: unset;
      border: unset;
    }

    tr {
      display: grid;
      padding: 0.5em 0;
      border-bottom: 1px solid theme-color('border2');
    }

    thead > tr {
      border-bottom: 1px solid theme-color('border');
    }
  }
}

.th {
  padding: 0.5em 1em;
  border-bottom: 1px solid theme-color('border');
}

.td {
  min-height: 2em;
  padding: 0.5em;
  border-bottom: 1px solid theme-color('border2');
}

.search_fields {
  display: flex;
  column-gap: 1em;
  row-gap: 0.5em;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.dropdown_control {
  padding: 0.5em 4em 0.5em 1em;
  // border: 1px solid theme-color('border2');
  border: unset;
  outline: unset;
  background-color: theme-color('background');
  cursor: pointer;
}

.filters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5em;
}
