/*
 * FacetDropDown.module.scss
 * Author: evan kirkiles
 * Created On Tue Sep 05 2023
 * 2023 Design at Yale 
 */
@import '@/styles/utils';

.ais-Dropdown-button {
  appearance: none;
  padding: 0.3em 1em;
  border: 1px solid theme-color('content2');
  border-radius: 3px;
  color: theme-color('content2');
  cursor: pointer;
  user-select: none;
}

.ais-Dropdown-button:not(:disabled):hover {
  background-color: theme-color('background2');
}

.ais-Dropdown-button:disabled[disabled] {
  border-color: theme-color('content2');
  box-shadow: none;
  color: theme-color('content2');
  cursor: not-allowed;
  opacity: 0.5;
}

.ais-Dropdown-button--refined {
  font-weight: bold;
}

/* Panel */
.ais-Dropdown.ais-Panel {
  margin: 0;
}

.ais-Dropdown .ais-Panel-body {
  position: absolute;
  margin-top: 0.5rem;
  padding: 0.8rem;
  border: 1px solid theme-color('border2');
  border-radius: 0.25rem;
  background-color: theme-color('background');
}

.ais-Dropdown .ais-Panel-header {
  margin-bottom: 0;
}

.ais-Dropdown .ais-Panel-body {
  display: none;
}

.ais-Dropdown .ais-Panel-footer {
  margin: 0;
}

.ais-Dropdown--opened .ais-Panel-body {
  display: block;
}

/* Mobile */
.ais-Dropdown-close {
  display: none;
  width: 100%;
  margin: 0 1rem 1rem;
}

.ais-Dropdown-mobileTitle {
  display: none;
  margin-top: 0;
}

@media only screen and (max-width: 375px) {
  .ais-Dropdown.ais-Dropdown--opened .ais-Panel-body {
    position: fixed;
    margin: 0;
    inset: 0;
    padding-bottom: 4rem;
    overflow-y: auto;
    background: #fff;
  }

  .ais-Dropdown.ais-Dropdown--opened .ais-Panel-footer {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    justify-content: center;
    width: 100%;
    background: #fff;
  }

  .ais-Dropdown--opened .ais-Dropdown-close {
    display: inline;
  }

  .ais-Dropdown-mobileTitle {
    display: block;
  }
}
