/*
 * Nav.module.scss
 * Author: evan kirkiles
 * Created On Tue Aug 29 2023
 * 2023 Design at Yale 
 */
@use 'sass:list';
@use 'sass:math';
@import '@/styles/utils';

.container {
  display: flex;
  z-index: zIndex('high') + 1;
  position: sticky;
  top: 0;
  left: 0;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  height: var(--header-height);
  margin: 0 auto;
  padding: 0 var(--page-padding);

  &::before {
    flex-grow: 0;
    width: 1.25em;
    height: 1.25em;
    transform: translateY(0.2em);
    background-color: theme-color('border');
    content: '';
    mask: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjYiIGhlaWdodD0iMjUiIHZpZXdCb3g9IjAgMCAyNiAyNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGxpbmUgeDE9IjI0Ljk0NDMiIHkxPSIyLjE4NTU3ZS0wOCIgeDI9IjI0Ljk0NDMiIHkyPSIxNi42NjY3IiBzdHJva2U9IiM0NzQ3NDciLz4KPGxpbmUgeTE9IjI0LjUiIHgyPSIxNi42NjY3IiB5Mj0iMjQuNSIgc3Ryb2tlPSIjNDc0NzQ3Ii8+Cjwvc3ZnPgo=');
    mask-size: 100% 100%;
  }

  &::after {
    flex-grow: 0;
    width: 1.25em;
    height: 1.25em;
    transform: scaleX(-1) translateY(0.2em);
    background-color: theme-color('border');
    content: '';
    mask: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjYiIGhlaWdodD0iMjUiIHZpZXdCb3g9IjAgMCAyNiAyNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGxpbmUgeDE9IjI0Ljk0NDMiIHkxPSIyLjE4NTU3ZS0wOCIgeDI9IjI0Ljk0NDMiIHkyPSIxNi42NjY3IiBzdHJva2U9IiM0NzQ3NDciLz4KPGxpbmUgeTE9IjI0LjUiIHgyPSIxNi42NjY3IiB5Mj0iMjQuNSIgc3Ryb2tlPSIjNDc0NzQ3Ii8+Cjwvc3ZnPgo=');
    mask-size: 100% 100%;
  }
}

.buttons {
  display: flex;
  z-index: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 1em;

  @include media('md') {
    flex: 1;
    margin: 0 auto;
  }

  & li {
    display: none;
    flex: 1;
    align-items: center;
    justify-content: center;
    max-width: 7em;
    height: 100%;
    margin: 0;

    &:nth-of-type(3) {
      display: grid;
    }

    & a {
      display: flex;
      padding: 0.5em 1em;
      text-underline-offset: 0.3em;

      &:hover {
        // font-weight: 700;
        text-decoration: underline;
      }
    }

    @include media('md') {
      display: grid;
    }
  }

  &_day {
    width: auto;
    height: 1.6em;
    margin-top: 0.4em;
    padding-bottom: 0.1em;
    border-bottom: 2px solid theme-color('background');

    &:hover {
      border-color: currentColor;
    }
  }
}

.underlay {
  z-index: zIndex('high');
  position: fixed;
  inset: 0;
  // backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.9);
  background-color: color-mix(
    in lch,
    theme-color('background') 90%,
    transparent
  );
  // mask: linear-gradient(#000 80%, transparent);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;

  &_open {
    opacity: 1;
    pointer-events: all;
  }
}

$lightcolors: #000, #222, #444, #666, #999, #aaa, #ccc, #eee, #fff;
$truecolors: rgb(0, 255, 255), rgb(255, 0, 255), rgb(255, 255, 0), rgb(255, 0, 0),
  rgb(0, 255, 0), rgb(0, 0, 255), theme-color('content2'), theme-color('content');

@function gradFromColors($colors) {
  $light-gradient: ();
  $n: length($colors);
  @for $i from 1 through $n - 1 {
    $c: nth($colors, $i);
    $c1: nth($colors, $i + 1);
    $p: math.round(1 / $n * $i * 100%);
    $light-gradient: list.append($light-gradient, $c $p - 1, comma);
    $light-gradient: list.append(
      $light-gradient,
      theme-color('border2') $p,
      comma
    );
    $light-gradient: list.append($light-gradient, $c1 $p + 1, comma);
  }
  @return $light-gradient;
}

.light_gradient {
  flex: 1;
  height: 1em;
  margin-left: 2.5em;
  border: 1px solid theme-color('border2');
  background: linear-gradient(to right, gradFromColors($lightcolors));
  opacity: 0.3;
  pointer-events: none;

  @include media('md') {
    max-width: 140px;
  }
}

.color_gradient {
  @extend .light_gradient;
  margin-right: 2.5em;
  margin-left: 0;
  // background: linear-gradient(to left, gradFromColors($lightcolors));
  background: linear-gradient(to right, gradFromColors($truecolors));
  pointer-events: none;

  @include media('md') {
    max-width: 140px;
  }
}

.menu {
  display: grid;
  z-index: -1;
  position: absolute;
  inset: 0;
  bottom: unset;
  grid-template: 'text text' auto 'l1 l2' auto 'nl nl' auto / 1fr auto;
  padding: var(--header-height) calc(var(--page-padding) * 1);
  padding-bottom: var(--page-padding);
  gap: 0.5em;
  transform: translateY(calc(-100% + var(--header-height)));
  border-bottom: 1px solid transparent;
  background-color: theme-color('background');
  transition:
    transform 0.3s ease,
    border-color 0.1s ease;

  & > * {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  &_open {
    display: grid;
    transform: translateY(0);
    border-color: theme-color('border2');
    transition-delay: 0s, 0.15s;

    & > * {
      opacity: 1;
      transition-delay: 0.15s;
    }
  }

  & p {
    grid-area: text;
    margin: 0 calc(var(--page-padding) * 0.5);
    // font-size: 1.5em;
    // text-align: center;
    opacity: 0.5;
  }

  @include media('md') {
    right: unset;
    left: 50%;
    grid-template: 'nl' auto 'l2' auto / 1fr;
    width: auto;
    padding: calc(var(--page-padding) * 0.5);
    padding-top: var(--header-height);
    transform: translate(-50%, -100%);
    border: unset;
    transition: transform 0.3s ease 0s;

    &_open {
      transform: translate(-50%, 0);
    }

    & p {
      margin: 0;
    }

    &::before {
      position: absolute;
      inset: 0;
      top: var(--header-height);
      border: 1px solid theme-color('border2');
      border-top: none;
      // border-radius: 50%;
      content: '';
      // clip-path: polygon(0% 70%, 100% 70%, 100% 100%, 0% 100%);
    }
  }
}

.menu_toggle {
  display: flex;
  z-index: 0;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 4em);
  inset: 0 2em;
  padding: 0 var(--page-padding);
  color: theme-color('border');

  & svg {
    transition: transform 0.1s ease-in-out;
  }

  &:hover {
    & svg:first-of-type {
      transform: rotate(45deg);
    }
    & svg:last-of-type {
      transform: rotate(-45deg);
    }
  }

  &[aria-expanded='true'] {
    & svg:first-of-type {
      transform: rotate(90deg);
    }
    & svg:last-of-type {
      transform: rotate(-90deg);
    }
  }
}

.nav_links {
  border-right: 1px solid theme-color('border2');

  @include media('md') {
    display: none;
  }

  & li {
    position: relative;
    margin: 0;
    padding: calc(var(--page-padding) * 0.5);
    border-bottom: 1px solid theme-color('border2');
    font-weight: 700;
    font-size: 1.5em;

    & a {
      display: block;

      &::before {
        z-index: 0;
        position: absolute;
        inset: 0;
        content: '';
        opacity: 0.5;
      }

      & span {
        display: block;
        z-index: 1;
        position: relative;
      }

      &:hover {
        &::before {
          background-color: theme-color('background2');
        }
      }
    }
  }
}

.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  border-bottom: 1px solid theme-color('border2');
  border-left: 1px solid theme-color('border2');
  font-size: 1.5em;

  & li {
    position: relative;
    margin: 0;
    padding: 0 calc(var(--page-padding) * 0.5);
    font-weight: 700;
    font-size: 1.5em;

    & a {
      &:hover {
        opacity: 0.5;
      }
    }
  }

  @include media('md') {
    flex-direction: row;
    justify-content: space-between;
    border: unset;
    font-size: 1em;

    & li {
      padding: 0 calc(var(--page-padding) * 0.25);
    }
  }
}

.nl {
  grid-area: nl;
}
