/*
 * Page.module.scss
 * Author: evan kirkiles
 * Created On Thu Aug 31 2023
 * 2023 Design at Yale 
 */

.container {
  display: grid;
  width: 100%;
  min-height: calc(100vh - (2 * var(--header-height)));
  min-height: calc(100svh - (2 * var(--header-height)));
  padding: 0 calc(var(--page-padding) * 1.5);
}
